<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ning.mybatisplus.mapper.UserMapper">

    <resultMap id="myUser" type="com.ning.mybatisplus.entity.User">
        <id column="uid" property="id"></id>
        <result column="name" property="name"></result>
    </resultMap>
    <sql id="Base_Column_List">
        uid
        ,name,age,email
    </sql>
    <select id="selectAllByName" resultType="com.ning.mybatisplus.entity.User">
        select <include refid="Base_Column_List"></include> from t_user where name = #{param1}
    </select>

    <!--    <select id="selectPageByAge" resultMap="myUser">-->
    <!--        select <include refid="Base_Column_List"></include> from t_user where age > #{param1}-->
    <!--    </select>-->

    <select id="selectPageByAge" resultType="com.ning.mybatisplus.entity.User">
        select <include refid="Base_Column_List"></include> from t_user where age > #{param1}
    </select>
</mapper>